Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: pgtap, basicsql, pypgstac, migrations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
    -   id: detect-aws-credentials
    -   id: detect-private-key
    -   id: check-json
    -   id: mixed-line-ending
    -   id: check-merge-conflict

-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.231'
    hooks:
    -   id: ruff

-   repo: local
    hooks:
    -   id: pgtap
        name: pgtap
        entry: scripts/test
        args: [--pgtap]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: sql\/.*\.sql$
    -   id: basicsql
        name: basicsql
        entry: scripts/test
        args: [--basicsql]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: sql\/.*\.sql$
    -   id: formatting
        name: formatting
        entry: scripts/test
        args: [--formatting]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        always_run: true
    -   id: pypgstac
        name: pypgstac
        entry: scripts/test
        args: [--pypgstac]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: pypgstac\/.*\.py$
    -   id: migrations
        name: migrations
        entry: scripts/test
        args: [--migrations]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: migrations\/.*\.sql$

udpate pydantic to 2.0
  CHANGELOG.md
  src/pypgstac/pypgstac/db.py
  src/pypgstac/pyproject.toml
  src/pypgstac/setup.py
Due: pypgstac

update postgis
  Dockerfile
Due: none

ignore extra
  src/pypgstac/pypgstac/db.py
Due: pypgstac

rework scripts/docker
  .pre-commit-config.yaml
  Dockerfile
  docker-compose.yml
  docker/pgstac/Dockerfile
  docker/pgstac/dbinit/pgstac-rust.sh
  docker/pgstac/dbinit/pgstac.sh
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/format
  docker/pypgstac/bin/initpgstac
  docker/pypgstac/bin/loadsampledata
  docker/pypgstac/bin/makemigration
  docker/pypgstac/bin/resetpgstac
  docker/pypgstac/bin/stageversion
  docker/pypgstac/bin/test
  docker/pypgstac/bin/tmpdb
  scripts/bin/README
  scripts/bin/stageversion
  scripts/console
  scripts/format
  scripts/migrate
  scripts/pgstacenv
  scripts/runinpypgstac
  scripts/server
  scripts/stageversion
  scripts/test
  scripts/update
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
  src/pypgstac/pypgstac/hydration.py
  src/pypgstac/pypgstac/pypgstac.py
  src/pypgstac/pypgstac/version.py
  src/pypgstac/pyproject.toml
  src/pypgstac/src/lib.rs
Due: pypgstac

update ci
  .github/workflows/continuous-integration.yml
Due: none

merge in 0.7.10
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.7.10-unreleased.sql
  src/pgstac/migrations/pgstac.0.7.10.sql
  src/pgstac/migrations/pgstac.0.7.9-0.7.10.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002_collections.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pypgstac/Cargo.toml
  src/pypgstac/pypgstac/version.py
  src/pypgstac/pyproject.toml
Due: pgtap, basicsql, pypgstac, migrations

cherry pick from updatePydantic PR
  CHANGELOG.md
  src/pypgstac/pypgstac/db.py
  src/pypgstac/pyproject.toml
  src/pypgstac/setup.py
Due: pypgstac

update pyproject version
  src/pypgstac/pyproject.toml
Due: none

make sure migrations are available in docker
  docker/pypgstac/Dockerfile
Due: none

tweak ci
  .github/workflows/continuous-integration.yml
  src/pgstac/sql/999_version.sql
Due: pgtap, basicsql

try docker bake with compose
  .github/workflows/continuous-integration.yml
Due: none

ci
  .github/workflows/continuous-integration.yml
Due: none

test py and rs hydrate are =
  docker/pypgstac/bin/test
  src/pypgstac/tests/hydration/test_hydrate.py
Due: pypgstac

Fix maturin bundling
  .gitignore
  src/pypgstac/Cargo.lock
  src/pypgstac/pypgstac/migrations
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/__init__.py
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/hydration.py
  src/pypgstac/python/pypgstac/load.py
  src/pypgstac/python/pypgstac/migrate.py
  src/pypgstac/python/pypgstac/migrations
  src/pypgstac/python/pypgstac/pgstacrs.abi3.so
  src/pypgstac/python/pypgstac/py.typed
  src/pypgstac/python/pypgstac/pypgstac.py
  src/pypgstac/python/pypgstac/version.py
Due: pypgstac

Fix maturin bundling (#200)
  .gitignore
  src/pypgstac/Cargo.lock
  src/pypgstac/pypgstac/migrations
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/__init__.py
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/hydration.py
  src/pypgstac/python/pypgstac/load.py
  src/pypgstac/python/pypgstac/migrate.py
  src/pypgstac/python/pypgstac/migrations
  src/pypgstac/python/pypgstac/pgstacrs.abi3.so
  src/pypgstac/python/pypgstac/py.typed
  src/pypgstac/python/pypgstac/pypgstac.py
  src/pypgstac/python/pypgstac/version.py
Due: pypgstac

reformat ci -- wip
  .github/workflows/continuous-integration.yml
  src/pypgstac/pyproject.toml
Due: none

set working-directory
  .github/workflows/continuous-integration.yml
Due: none

set working-directory
  src/pypgstac/pyproject.toml
Due: none

set working-directory
  .github/workflows/continuous-integration.yml
  src/pypgstac/pyproject.toml
Due: none
