Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: pgtap, basicsql, pypgstac, migrations

pgtap:
  name: pgtap
  entry: scripts/test
  args:
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

basicsql:
  name: basicsql
  entry: scripts/test
  args:
  - --basicsql
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

Remove default eo:cloud_cover queryable
  docs/src/pgstac.md
  src/pgstac/sql/998_idempotent_post.sql
Due: pgtap, basicsql

stage migration
  src/pgstac/migrations/pgstac.0.7.10-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
Due: migrations

Update README.md (#207)
  README.md
Due: none

Remove default eo:cloud_cover queryable (#210)
  docs/src/pgstac.md
  src/pgstac/migrations/pgstac.0.7.10-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/998_idempotent_post.sql
Due: pgtap, basicsql, migrations

revert shortcut for ids limit, add tests
  CHANGELOG.md
  docker/pypgstac/bin/test
  src/pgstac/migrations/pgstac.0.7.10-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/testdata/items_duplicate_ids.ndjson
Due: pgtap, basicsql, migrations

revert shortcut for ids limit, add tests (#212)
  CHANGELOG.md
  docker/pypgstac/bin/test
  src/pgstac/migrations/pgstac.0.7.10-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/testdata/items_duplicate_ids.ndjson
Due: pgtap, basicsql, migrations

fix bugs with staging version, update for v0.8.0 release
  .pre-commit-config.yaml
  CHANGELOG.md
  docker/pypgstac/bin/stageversion
  src/pgstac/migrations/pgstac.0.7.10-0.8.0.sql
  src/pgstac/migrations/pgstac.0.8.0.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
  src/pypgstac/tests/hydration/test_dehydrate_pg.py
  src/pypgstac/tests/hydration/test_hydrate_pg.py
Due: pgtap, basicsql, pypgstac, migrations

fix bugs with staging version, update for v0.8.0 release (#213)
  .pre-commit-config.yaml
  CHANGELOG.md
  docker/pypgstac/bin/stageversion
  src/pgstac/migrations/pgstac.0.7.10-0.8.0.sql
  src/pgstac/migrations/pgstac.0.8.0.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
  src/pypgstac/tests/hydration/test_dehydrate_pg.py
  src/pypgstac/tests/hydration/test_hydrate_pg.py
Due: pgtap, basicsql, pypgstac, migrations

fix ci bug with docker builds on release
  .github/workflows/release.yml
  src/pgstac/migrations/pgstac.0.8.0-0.8.1.sql
  src/pgstac/migrations/pgstac.0.8.1.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

update changelog
  CHANGELOG.md
Due: none

Fixci releasev0.8.1 (#214)
  .github/workflows/release.yml
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.0-0.8.1.sql
  src/pgstac/migrations/pgstac.0.8.1.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

add readonly option for pgstac
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

add tests for read only mode
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
Due: none

Enable strict mode for search
  docs/src/pgstac.md
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

Include additionalProperties in queryables
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/002a_queryables.sql
Due: pgtap, basicsql, migrations

Enable strict mode for search (#216)
  docs/src/pgstac.md
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

Make sure that only arguments that are properties are cheked
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: pgtap, basicsql, migrations

Check whether all properties are present in the queryables
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: pgtap, basicsql, migrations

initial collection_search function
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004a_collectionsearch.sql
Due: pgtap, basicsql, migrations

Optimize query for early property checks
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/002b_cql.sql
Due: pgtap, basicsql, migrations

Make sure that only arguments that are properties are cheked (#219)
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: pgtap, basicsql, migrations

split collection search into 3 functions
  src/pgstac/sql/004a_collectionsearch.sql
Due: pgtap, basicsql

merge main
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
Due: migrations

add paging links
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/004a_collectionsearch.sql
Due: pgtap, basicsql

start adding tests
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/tests/basic/collection_searches.sql
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
Due: pgtap, basicsql

add tutorial
  docs/src/tutorial/collections.ndjson.gz
  docs/src/tutorial/docker-compose.yml
  docs/src/tutorial/docker/Dockerfile
  docs/src/tutorial/docker/starttutorial
  docs/src/tutorial/fetchpcdata.ipynb
  docs/src/tutorial/ipython_log.py
  docs/src/tutorial/items.ndjson.gz
  docs/src/tutorial/tutorial.ipynb
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/003b_partitions.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/db.py
Due: pgtap, basicsql, pypgstac, migrations

stash workshop
  docs/src/tutorial/docker-compose.yml
  docs/src/tutorial/docker/Dockerfile
  docs/src/tutorial/docs/src/tutorial/tutorial.ipynb
  docs/src/tutorial/docs/src/tutorial/tutorial2.ipynb
  docs/src/tutorial/tutorial.ipynb
  src/pgstac/sql/003b_partitions.sql
Due: pgtap, basicsql

add collection search tests
  docker/pypgstac/bin/test
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/tests/basic/collection_searches.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
Due: pgtap, basicsql, migrations

add items to changelog
  CHANGELOG.md
Due: none

add changelog, docs
  CHANGELOG.md
  docs/src/pgstac.md
Due: none

add tests for point search (#52)
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/006_tilesearch.sql
  src/pgstac/tests/basic/xyz_searches.sql
  src/pgstac/tests/basic/xyz_searches.sql.out
Due: pgtap, basicsql, migrations

Read only configuration mode (#215)
  CHANGELOG.md
  docs/src/pgstac.md
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/pgtap/001_core.sql
Due: pgtap, basicsql, migrations

fix bug where edtrange was set using datetime rather than end_datetime
  src/pgstac/sql/003b_partitions.sql
Due: pgtap, basicsql

stash
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/basic/cql2_searches.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pgstac/tests/pgtap/001_core.sql
Due: pgtap, basicsql, migrations

fixes for partition generation, drop pydantic requirement to 1.7+
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/003b_partitions.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/load.py
  src/pypgstac/tests/test_load.py
Due: pgtap, basicsql, pypgstac, migrations

Add Search for Collections (#220)
  CHANGELOG.md
  docker/pypgstac/bin/test
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/tests/basic/collection_searches.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
Due: pgtap, basicsql, migrations

add changelog
  CHANGELOG.md
Due: none

make collection id not null fixes #224
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/002_collections.sql
Due: pgtap, basicsql, migrations

add queue options to pypgstac
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/pypgstac.py
Due: pgtap, basicsql, pypgstac, migrations

Path conditions:
  pgtap: any of: sql\/.*\.sql$
  basicsql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
