Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: pgtap, basicsql, pypgstac, migrations

pgtap:
  name: pgtap
  entry: scripts/test
  args:
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

basicsql:
  name: basicsql
  entry: scripts/test
  args:
  - --basicsql
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

precommit fixes
  scripts/stageversion
  scripts/test
  src/pgstac/scripts/test_pgtap
Due: none

move mypy.ini to pyproject.toml
  mypy.ini
  scripts/bin/test
  src/pypgstac/pyproject.toml
Due: none

scripts cleanup
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  scripts/server
  scripts/stageversion
  scripts/test
Due: none

fix: allow empty strings in datetime intervals
  sql/002b_cql.sql
  test/pgtap/004_search.sql
Due: pgtap, basicsql

update sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/tests/basic/partitions.sql.out
Due: pgtap, basicsql

updates for tests
  docker-compose.yml
  scripts/bin/README
  scripts/bin/format
  scripts/bin/initpgstac
  scripts/bin/loadsampledata
  scripts/bin/resetpgstac
  scripts/bin/stageversion
  scripts/bin/test
  scripts/bin/tmpdb
  scripts/console
  scripts/stageversion
  src/pgstac/migrations/pgstac.0.6.13-0.7.0.sql
  src/pgstac/migrations/pgstac.0.7.0.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
Due: pgtap, basicsql, migrations

updates for tests
  scripts/bin/README
Due: none

fix: allow empty strings in datetime intervals (#157)
  sql/002b_cql.sql
  test/pgtap/004_search.sql
Due: pgtap, basicsql

merge main
  src/pgstac/migrations/pgstac.0.6.13-0.7.0.sql
  src/pgstac/migrations/pgstac.0.7.0.sql
Due: migrations

switch pypgstac to use hatch
  src/pypgstac/pypgstac/db.py
  src/pypgstac/pypgstac/hydration.py
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pypgstac/migrate.py
  src/pypgstac/pypgstac/pypgstac.py
  src/pypgstac/pypgstac/version.py
  src/pypgstac/pyproject.toml
  src/pypgstac/setup.py
  src/pypgstac/tests/conftest.py
  src/pypgstac/tests/hydration/test_base_item.py
  src/pypgstac/tests/hydration/test_dehydrate.py
  src/pypgstac/tests/hydration/test_dehydrate_pg.py
  src/pypgstac/tests/hydration/test_hydrate.py
  src/pypgstac/tests/hydration/test_hydrate_pg.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

move pgstac.sql to src/pgstac/
  src/pgstac/pgstac.sql
Due: none

update scripts and docker setup
  .devcontainer/devcontainer.json
  .dockerignore
  .flake8
  .pre-commit-config.yaml
  Dockerfile
  docker-compose.yml
  mypy.ini
  scripts/bin/README
  scripts/bin/format
  scripts/bin/initpgstac
  scripts/bin/loadsampledata
  scripts/bin/migra_funcs
  scripts/bin/resetpgstac
  scripts/bin/stageversion
  scripts/bin/stageversiondb
  scripts/bin/test
  scripts/bin/testdb
  scripts/bin/tmpdb
  scripts/cibuild
  scripts/cipublish
  scripts/console
  scripts/format
  scripts/install
  scripts/migrate
  scripts/server
  scripts/setup
  scripts/sql/resetdb.sql
  scripts/stageversion
  scripts/test
  scripts/update
Due: pgtap, basicsql

Cleanup unused files. Adjust tests to work with new scripts
  Dockerfile.dev
  src/pgstac/test/basic/sqltest.sh
  src/pgstac/tests/basic/cql2_searches.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/basic/xyz_searches.sql
  src/pgstac/tests/basic/xyz_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/001a_jsonutils.sql
  src/pgstac/tests/pgtap/001b_cursorutils.sql
  src/pgstac/tests/pgtap/001s_stacutils.sql
  src/pgstac/tests/pgtap/002_collections.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/pgtap/005_tileutils.sql
  src/pgstac/tests/pgtap/006_tilesearch.sql
  src/pgstac/tests/pgtap/999_version.sql
  src/pgstac/tests/testdata/collections.json
  src/pgstac/tests/testdata/collections.ndjson
  src/pgstac/tests/testdata/items.ndjson
  src/pgstac/tests/testdata/items.pgcopy
  src/pypgstac/poetry.lock
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pypgstac/version.py
  src/pypgstac/setup.cfg
  src/pypgstac/tests/conftest.py
Due: pypgstac

run formatting on code
  .pre-commit-config.yaml
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pyproject.toml
  src/pypgstac/tests/conftest.py
Due: pypgstac

update sql with partitioning rework and maintenance tooling
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  src/pgstac/migrations/pgstac.0.6.13-0.7.0.sql
  src/pgstac/migrations/pgstac.0.7.0.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/001s_stacutils.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/998_permissions.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pypgstac/version.py
  src/pypgstac/tests/conftest.py
Due: pgtap, basicsql, pypgstac, migrations

update changelog, contributing, and readme
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

fix: allow missing aws credential in pre-commit
  .pre-commit-config.yaml
Due: none

Update smart-open
  pypgstac/pyproject.toml
Due: none

switch from methodtools to cachetools, remove commented out code
  scripts/bin/tmpdb
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pyproject.toml
Due: pypgstac

Allow use of pypgstac loader within same minor version
  pypgstac/pypgstac/load.py
  pypgstac/setup.py
  pypgstac/tests/test_load.py
Due: pypgstac

add fix for #156
  CHANGELOG.md
  src/pypgstac/pypgstac/db.py
Due: pypgstac

fix for #162
  CHANGELOG.md
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pyproject.toml
  src/pypgstac/tests/test_load.py
Due: pypgstac

bug fixes
  scripts/test
  src/pgstac/migrations/pgstac.0.6.13-0.7.0.sql
  src/pgstac/migrations/pgstac.0.7.0-0.7.1.sql
  src/pgstac/migrations/pgstac.0.7.1.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pypgstac/pypgstac/db.py
  src/pypgstac/pypgstac/migrate.py
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

add more paging tests, fix paging issues with nulls
  src/pgstac/migrations/pgstac.0.7.0-0.7.1.sql
  src/pgstac/migrations/pgstac.0.7.1.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/tests/pgtap/004_search.sql
Due: pgtap, basicsql, migrations

fix for delserts in pypgstac load
  src/pgstac/migrations/pgstac.0.7.0-0.7.1.sql
  src/pgstac/migrations/pgstac.0.7.1.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/tests/testdata/items_for_delsert.ndjson
  src/pypgstac/pypgstac/load.py
Due: pgtap, basicsql, pypgstac, migrations

update changelog
  CHANGELOG.md
Due: none

Bug Fixes found after releasing v0.7.0 (#165)
  CHANGELOG.md
  scripts/test
  src/pgstac/migrations/pgstac.0.6.13-0.7.0.sql
  src/pgstac/migrations/pgstac.0.7.0-0.7.1.sql
  src/pgstac/migrations/pgstac.0.7.1.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/testdata/items_for_delsert.ndjson
  src/pypgstac/pypgstac/db.py
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pypgstac/migrate.py
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

Use library for version parsing
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pyproject.toml
  src/pypgstac/setup.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

Use library for version parsing (#169)
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pyproject.toml
  src/pypgstac/setup.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

bug fixes
  src/pgstac/migrations/pgstac.0.6.13-0.7.0.sql
  src/pgstac/migrations/pgstac.0.7.1-0.7.2.sql
  src/pgstac/migrations/pgstac.0.7.2.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

add tests for date issue with loader
  src/pypgstac/pypgstac/load.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

add changelog, change create or replace trigger to create trigger for pg 13
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.7.0.sql
  src/pgstac/migrations/pgstac.0.7.1.sql
  src/pgstac/migrations/pgstac.0.7.2.sql
  src/pgstac/sql/003a_items.sql
Due: pgtap, basicsql, migrations

Bugfixrelease0.7.2 (#171)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.6.13-0.7.0.sql
  src/pgstac/migrations/pgstac.0.7.1-0.7.2.sql
  src/pgstac/migrations/pgstac.0.7.1.sql
  src/pgstac/migrations/pgstac.0.7.2.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pypgstac/load.py
  src/pypgstac/pypgstac/version.py
  src/pypgstac/tests/test_load.py
Due: pgtap, basicsql, pypgstac, migrations

Fixing markdown in README
  README.md
Due: none

fixes
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: pgtap, basicsql

Path conditions:
  pgtap: any of: sql\/.*\.sql$
  basicsql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
