Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: pgtap, basicsql, pypgstac, migrations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
    -   id: detect-aws-credentials
    -   id: detect-private-key
    -   id: check-json
    -   id: mixed-line-ending
    -   id: check-merge-conflict

-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.231'
    hooks:
    -   id: ruff

-   repo: local
    hooks:
    -   id: pgtap
        name: pgtap
        entry: scripts/test
        args: [--pgtap]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: sql\/.*\.sql$
    -   id: basicsql
        name: basicsql
        entry: scripts/test
        args: [--basicsql]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: sql\/.*\.sql$
    -   id: formatting
        name: formatting
        entry: scripts/test
        args: [--formatting]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        always_run: true
    -   id: pypgstac
        name: pypgstac
        entry: scripts/test
        args: [--pypgstac]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: pypgstac\/.*\.py$
    -   id: migrations
        name: migrations
        entry: scripts/test
        args: [--migrations]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: migrations\/.*\.sql$

add migrations, remove call to pystac validation from test
  scripts/bin/test
  src/pgstac/migrations/pgstac.0.6.13-0.7.3.sql
  src/pgstac/migrations/pgstac.0.7.2-0.7.3.sql
  src/pgstac/migrations/pgstac.0.7.3.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pypgstac/version.py
  src/pypgstac/tests/test_load.py
Due: pgtap, basicsql, pypgstac, migrations

add changelog
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.6.13-0.7.3.sql
  src/pgstac/migrations/pgstac.0.7.2-0.7.3.sql
  src/pgstac/migrations/pgstac.0.7.3.sql
  src/pgstac/sql/003b_partitions.sql
Due: pgtap, basicsql, migrations

version change in changelog
  CHANGELOG.md
Due: none

Fixing markdown in README (#172)
  README.md
Due: none

Bug Fixes (#173)
  CHANGELOG.md
  scripts/bin/test
  src/pgstac/migrations/pgstac.0.6.13-0.7.3.sql
  src/pgstac/migrations/pgstac.0.7.2-0.7.3.sql
  src/pgstac/migrations/pgstac.0.7.3.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pypgstac/pypgstac/version.py
  src/pypgstac/tests/test_load.py
Due: pgtap, basicsql, pypgstac, migrations

remove use of temp tables / cursor in search
  Dockerfile
  scripts/bin/test
  src/pgstac/migrations/pgstac.0.7.3-0.7.4.sql
  src/pgstac/migrations/pgstac.0.7.4.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

update changelog
  CHANGELOG.md
Due: none

Remove use of temp tables / cursor in search (#175)
  CHANGELOG.md
  Dockerfile
  scripts/bin/test
  src/pgstac/migrations/pgstac.0.7.3-0.7.4.sql
  src/pgstac/migrations/pgstac.0.7.4.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

add docs for queryables
  docs/src/pgstac.md
Due: none

Formatting and fixups
  docs/src/pgstac.md
Due: none

Fixups
  docs/src/pgstac.md
Due: none

typo
  docs/src/pgstac.md
Due: none

More typos!
  docs/src/pgstac.md
Due: none

materialize the partition view
  scripts/bin/test
  src/pgstac/migrations/pgstac.0.7.4-0.7.5.sql
  src/pgstac/migrations/pgstac.0.7.5.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pypgstac/pypgstac/version.py
  src/pypgstac/tests/test_load.py
Due: pgtap, basicsql, pypgstac, migrations

fix for default sort not getting picked up when no sort set when paging
  src/pgstac/migrations/pgstac.0.7.4-0.7.5.sql
  src/pgstac/migrations/pgstac.0.7.5.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/tests/basic/cql2_searches.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
Due: pgtap, basicsql, migrations

add docs for queryables (#176)
  docs/src/pgstac.md
Due: none

remove extra notice
  src/pgstac/migrations/pgstac.0.7.4-0.7.5.sql
  src/pgstac/migrations/pgstac.0.7.5.sql
  src/pgstac/sql/003b_partitions.sql
Due: pgtap, basicsql, migrations

Materialize the Partition View (#178)
  CHANGELOG.md
  scripts/bin/test
  src/pgstac/migrations/pgstac.0.7.4-0.7.5.sql
  src/pgstac/migrations/pgstac.0.7.5.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/cql2_searches.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pypgstac/pypgstac/version.py
  src/pypgstac/tests/test_load.py
Due: pgtap, basicsql, pypgstac, migrations

Fix collection existence check in queryables
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/testdata/collections.ndjson
Due: pgtap, basicsql

Update queryable docs to account for text[]
  docs/src/pgstac.md
Due: none

migration
  src/pgstac/migrations/pgstac.0.7.5-0.7.6.sql
  src/pgstac/migrations/pgstac.0.7.6.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

Changelog
  CHANGELOG.md
Due: none

Fix collection check in queryable trigger_func (#179)
  CHANGELOG.md
  docs/src/pgstac.md
  src/pgstac/migrations/pgstac.0.7.5-0.7.6.sql
  src/pgstac/migrations/pgstac.0.7.6.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/testdata/collections.ndjson
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

fix migrations, add perf logging, id search limit shortcut
  src/pgstac/migrations/pgstac.0.7.4-0.7.5.sql
  src/pgstac/migrations/pgstac.0.7.5-0.7.6.sql
  src/pgstac/migrations/pgstac.0.7.5.sql
  src/pgstac/migrations/pgstac.0.7.6-0.7.7.sql
  src/pgstac/migrations/pgstac.0.7.7.sql
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

Fix migrations, Add perf logging, id search limit shortcut (#181)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.7.4-0.7.5.sql
  src/pgstac/migrations/pgstac.0.7.5-0.7.6.sql
  src/pgstac/migrations/pgstac.0.7.5.sql
  src/pgstac/migrations/pgstac.0.7.6-0.7.7.sql
  src/pgstac/migrations/pgstac.0.7.7.sql
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

fix for #182
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.7.7-0.7.8.sql
  src/pgstac/migrations/pgstac.0.7.8.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/cql_searches.sql
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

add metadata to tests
  src/pgstac/tests/basic/cql_searches.sql
  src/pgstac/tests/basic/cql_searches.sql.out
Due: none

fix for #182 (#183)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.7.7-0.7.8.sql
  src/pgstac/migrations/pgstac.0.7.8.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/cql_searches.sql
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

update pg in docker to 3.3.3
  CHANGELOG.md
  Dockerfile
Due: none

stage version change to 0.7.9
  src/pgstac/migrations/pgstac.0.7.8-0.7.9.sql
  src/pgstac/migrations/pgstac.0.7.9.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

update pg in docker to 3.3.3 (#184)
  CHANGELOG.md
  Dockerfile
  src/pgstac/migrations/pgstac.0.7.8-0.7.9.sql
  src/pgstac/migrations/pgstac.0.7.9.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

fix: return '[]' instead of NULL from all_collections when the table is empty
  CHANGELOG.md
  src/pgstac/sql/002_collections.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: pgtap, basicsql

fix: return '[]' instead of NULL from all_collections when the table is empty (#187)
  CHANGELOG.md
  src/pgstac/sql/002_collections.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: pgtap, basicsql

get plrust added to docker
  Dockerfile
  docker-compose.yml
  scripts/bin/initpgstac
Due: none

fix for #185
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.7.10.sql
  src/pgstac/migrations/pgstac.0.7.9-0.7.10.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002_collections.sql
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

fix for #185 (#188)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.7.10.sql
  src/pgstac/migrations/pgstac.0.7.9-0.7.10.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002_collections.sql
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations
