Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: pgtap, basicsql, pypgstac, migrations

pgtap:
  name: pgtap
  entry: scripts/test
  args:
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

basicsql:
  name: basicsql
  entry: scripts/test
  args:
  - --basicsql
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

ci
  .github/workflows/continuous-integration.yml
Due: none

ci
  docker/pypgstac/bin/format
  docker/pypgstac/bin/initpgstac
  docker/pypgstac/bin/loadsampledata
  docker/pypgstac/bin/makemigration
  docker/pypgstac/bin/resetpgstac
  docker/pypgstac/bin/test
  docker/pypgstac/bin/tmpdb
Due: none

ci
  docker/pypgstac/bin/test
Due: none

ci
  .github/workflows/continuous-integration.yml
  docker/pypgstac/bin/test
Due: none

reformat ci
  .github/workflows/continuous-integration.yml
  docker/pgstac/Dockerfile
  docker/pgstac/dbinit/docker-entrypoint.sh
  docker/pgstac/dbinit/pgstac-rust-preinit.sh
  docker/pgstac/dbinit/pgstac-rust.sh
  docker/pgstac/dbinit/pgstac.sh
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/format
  docker/pypgstac/bin/initpgstac
  docker/pypgstac/bin/loadsampledata
  docker/pypgstac/bin/makemigration
  docker/pypgstac/bin/resetpgstac
  docker/pypgstac/bin/test
  docker/pypgstac/bin/tmpdb
  src/pypgstac/pyproject.toml
Due: none

add private jsonb field to collections and items, add geometry, datetime, and end_datetime to collections
  .github/workflows/continuous-integration.yml
  .gitignore
  docker-compose.yml
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/stageversion
  scripts/test
  src/pgstac/migrations/pgstac.0.7.10-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/003a_items.sql
  src/pypgstac/python/pypgstac/pgstacrs.abi3.so
Due: pgtap, basicsql, migrations

add step to build wheels as artifacts
  .github/workflows/continuous-integration.yml
Due: none

build wheels
  .github/workflows/continuous-integration.yml
Due: none

use maturin action to build wheels
  .github/workflows/continuous-integration.yml
Due: none

Update Docker with Rust tooling, split into database and pypgstac as separate images
  Dockerfile
  docker-compose.yml
  docker/pgstac/Dockerfile
  docker/pgstac/dbinit/docker-entrypoint.sh
  docker/pgstac/dbinit/pgstac-rust-preinit.sh
  docker/pgstac/dbinit/pgstac-rust.sh
  docker/pgstac/dbinit/pgstac.sh
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/format
  docker/pypgstac/bin/initpgstac
  docker/pypgstac/bin/loadsampledata
  docker/pypgstac/bin/makemigration
  docker/pypgstac/bin/resetpgstac
  docker/pypgstac/bin/stageversion
  docker/pypgstac/bin/test
  docker/pypgstac/bin/tmpdb
  scripts/console
  scripts/format
  scripts/migrate
  scripts/pgstacenv
  scripts/runinpypgstac
  scripts/server
  scripts/stageversion
  scripts/test
  scripts/update
Due: none

update pypgstac to add rust hydration module
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
  src/pypgstac/pypgstac/migrations
  src/pypgstac/pypgstac/version.py
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/__init__.py
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/hydration.py
  src/pypgstac/python/pypgstac/load.py
  src/pypgstac/python/pypgstac/migrate.py
  src/pypgstac/python/pypgstac/migrations
  src/pypgstac/python/pypgstac/py.typed
  src/pypgstac/python/pypgstac/pypgstac.py
  src/pypgstac/python/pypgstac/version.py
  src/pypgstac/setup.py
  src/pypgstac/src/lib.rs
  src/pypgstac/tests/hydration/test_hydrate.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

cleanup
  .dockerignore
  .gitignore
  .pre-commit-config.yaml
  docker/pypgstac/bin/test
  scripts/bin/README
  scripts/bin/format
  scripts/bin/initpgstac
  scripts/bin/loadsampledata
  scripts/bin/resetpgstac
  scripts/bin/stageversion
  scripts/bin/test
  scripts/bin/tmpdb
  scripts/test
  src/pgstac/migrations/pgstac.0.7.10-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
Due: pgtap, basicsql, migrations

add private json object to items and collections. add geometry, datetime, and end_datetime generated fields to collections
  src/pgstac/migrations/pgstac.0.7.10-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/003a_items.sql
Due: pgtap, basicsql, migrations

update changelog
  CHANGELOG.md
Due: none

update ci
  .github/workflows/continuous-integration.yml
Due: none

update workflow for release
  .github/workflows/release.yml
Due: none

fix test on incremental migrations
  docker/pypgstac/bin/test
Due: none

Updating base image to debian bookworm, and generating an image with postgres 15.4
  Dockerfile
Due: none

Update README.md
  README.md
Due: none

Revert id search limit shortcut - #192
  CHANGELOG.md
  src/pgstac/sql/004_search.sql
Due: pgtap, basicsql

add tests for searching items in multiple collections
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/testdata/items_duplicate_ids.ndjson
Due: none

fix: update POSTGIS_VERSION
  Dockerfile
Due: none

Create migrations for 0.7.11
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.7.10-0.7.11.sql
  src/pgstac/migrations/pgstac.0.7.11.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pypgstac/version.py
Due: pgtap, basicsql, pypgstac, migrations

switch from serde to pyo3
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
  src/pypgstac/src/lib.rs
Due: none

fixes from PR review
  .gitignore
  docker/pypgstac/bin/stageversion
  scripts/pgstacenv
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
Due: none

fix: remove cargo registry
  docker/pypgstac/Dockerfile
Due: none

deps: track Cargo.lock
  .gitignore
  src/pypgstac/Cargo.lock
Due: none

fix: small rust cleanups
  src/pypgstac/src/lib.rs
Due: none

Path conditions:
  pgtap: any of: sql\/.*\.sql$
  basicsql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
